<phpunit bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true">
    <testsuites>
        <!-- Default test suite to run all tests -->
        <testsuite name="Plugin Socialhub-EGC tests">
	    <file>tests/test-plugin.php</file>
	    <file>tests/test-follow-button-widget.php</file>
        </testsuite>
    </testsuites>
</phpunit>
